<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Location Selector</title>
        <link href='https://api.mapbox.com/mapbox-gl-js/v2.0.0/mapbox-gl.css' rel='stylesheet' />
    </head>

    <body>
        <div id='map' style='width: 100%; height: 400px;'></div>
    </body>

</html>